/* ==============Navigation=============== */
.main-nav {
  font-weight: 500;
  font-size: 1.8rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 6.4rem;
  list-style: none;
}

.main-nav-li-el {
}

.logo-a {
  font-weight: 500;
  font-size: 1.8rem;
}

.main-nav-a-el:link,
.main-nav-a-el:visited {
  cursor: pointer;
  text-decoration: none;
  color: #f8f9fa;
  transition: all 0.3s;
}

.main-nav-a-el:hover {
  color: #ff6b6b;
}

.main-nav-btn {
  border: solid 3px #f8f9fa;
  padding: 1rem 2rem;
  transition: all 0.3s;
  border-radius: 4px;
  cursor: pointer;
}

.main-nav-btn .main-nav-a-el {
  cursor: pointer;
  text-decoration: none;
  color: #f8f9fa;
  transition: all 0.3s;
}

.main-nav-btn:hover {
  background-color: #f03e3e;
}

/* ==============HERO SECTION=============== */

.hero-section {
  background-color: #212529;
  padding: 4.8rem 0;
  margin-bottom: 10rem;
}

.hero-text {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 1.05;
  margin-bottom: 6.4rem;
}

.hero {
  margin: 0 10.8rem;
  padding: 0 3.2rem;
  display: flex;
  gap: 12rem;
  align-items: center;
}

.hero-img {
  width: 100%;
}

.btn:link,
.btn:visited {
}

.btn-fill:link,
.btn-fill:visited {
  font-size: 2rem;
  list-style: none;
  color: #f8f9fa;
  text-decoration: none;
  padding: 1.2rem 2rem;
  background-color: #f03e3e;
  transition: all 0.3s;
  border-radius: 4px;
}

.btn-fill:hover {
  background-color: #c92a2a;
}

/* ==============Description=============== */

.about-me-section {
  width: 100%;
  padding: 20rem 0;
}

.about-me {
  box-shadow: 0rem 2.4rem 4.8rem rgb(0 0 0 / 55%);
  border-radius: 4px;
  background-color: #212529;
  margin: 0 10.8rem;
  gap: 12rem;
  position: relative;
  /* animation: aboutMe;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: all 0.3s; */
}

/* @keyframes aboutMe {
  0% {
    left: -5000rem;
  }
  100% {
    top: 2rem;
  }
} */

.about-text-el {
  padding: 3.2rem 4.8rem;
  color: #212529;
  font-size: 1.8rem;
  color: #f8f9fa;
}

.about-text {
  line-height: 1.5;
  letter-spacing: 1px;
}

.about-me::after {
  content: "About Me";
  top: 0%;
  left: 0%;
  position: absolute;
  font-size: 2.4rem;
  background-color: #f03e3e;
  padding: 1.2rem 2rem;
  border-radius: 4px;
  transform: translate(-25%, -50%);
}

/* ==============Skills=============== */
.skills {
  color: #212529;
  margin: 0 10.8rem;
  display: flex;
  flex-direction: column;
  gap: 10.8rem;
  padding: 3.2rem;
}

.skill-header {
  text-transform: uppercase;
  margin-bottom: 6.4rem;
  flex: 0 0 100%;
  color: #212529;
  margin: 0 0 6.4rem 10.8rem;
}

.skill {
  align-items: center;
  gap: 10.8rem;
  margin-bottom: 3.2rem;
  border-radius: 4px;
  box-shadow: 0rem 2.4rem 4.8rem rgb(0 0 0 / 10%);
  padding: 6.4rem 3.2rem;
}

.skill-icons {
  width: 50%;
}

.skill-icon-box {
  padding: 0 3rem;
  display: flex;
}

.skill-icon-box:nth-child(2) {
  justify-content: end;
}

.skill-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.skill-text-box {
}

/* ==============Projects=============== */

.projects-section {
  margin-bottom: 50rem;
}

.projects {
  margin: 0 10.8rem;
  justify-items: space-between;
  gap: 10.8rem;
  margin-bottom: 10.8rem;
  transition: all 0.4s;
}
.projects-header {
  text-transform: uppercase;
  margin-bottom: 6.4rem;
  flex: 0 0 100%;
  color: #212529;
  margin: 0 0 6.4rem 10.8rem;
  margin-top: 20rem;
}

.project {
  padding: 3.2rem;
  transition: all 0.4s;
}

.project-box {
  transition: all 0.4s;
  position: relative;
  border-radius: 8px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0%
  );
}

.project:hover {
}

.project-box:hover {
  display: inline-block;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.85) 45%
  );
}

.project-box img {
  width: 100%;
  border-radius: 8px;
  transition: all 0.4s;
  z-index: -1;
  position: relative;
  transition: all 0.4s;
}

.project-box:hover img {
  cursor: pointer;
  /* -webkit-filter: blur(100px); */
  /* filter: blur(30px); */
}

.project-box:hover .project-text {
  visibility: visible;
  opacity: 1;
  animation: projectText;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.project-text {
  position: absolute;
  font-size: 2rem;
  top: 50%;
  left: 0;
  margin: 3.2rem 6.4rem;
  color: #f8f9fa;
  font-weight: 600;
  visibility: hidden;
  opacity: 0;
  line-height: 1.5;
}

@keyframes projectText {
  0% {
    bottom: -5rem;
  }
  100% {
    top: 20rem;
  }
}

.project-icons a {
  justify-self: center;
  color: white;
  transition: all 0.3s;
}

.project-icons a:hover {
  color: #f03e3e;
}

.project-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  margin: 2rem 6.4rem;
}

/* ==============Footer=============== */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60rem;
  width: 100%;
  background-color: #212529;
  position: relative;
}

.contact-section {
  position: absolute;
  top: -20%;
}

.contact {
  background-color: #f8f9fa;
  margin: 0 14rem;
  padding: 3.2rem;
  border-radius: 8px;
  transition: all 0.5s;
  color: #212529;
  text-align: center;
  box-shadow: 0rem 2.4rem 4.8rem rgb(0 0 0 / 35%);
}

.contact-description {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.05;
  margin: 3.2rem 0;
  padding: 2.4rem;
  letter-spacing: 1px;
}

.send-email-btn:link,
.send-email-btn:visited {
  display: inline-block;
  text-decoration: none;
  color: #f8f9fa;
  background-color: #212529;
  padding: 2.4rem 4.2rem;
  font-size: 1.8rem;
  margin-top: 3.2rem;
  transition: all 0.3s;
}

.send-email-btn:hover {
  background-color: #f8f9fa;
  color: #212529;
  box-shadow: inset 0 0 0 3px #212529;
}

.footer-content {
  font-size: 2.4rem;
  color: #d3d3d4;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  margin: 10.8rem 0rem;
  padding: 0 10.8rem;
}

.footer-nav {
  text-decoration: none;
  list-style: none;
  line-height: 3.8rem;
  justify-self: center;
}

.footer-nav a:link,
.footer-nav a:visited {
  text-decoration: none;
  color: #d3d3d4;
  transition: all 0.3s;
}

.footer-nav a:hover,
.footer-nav a:active {
  color: #f03e3e;
}

.footer-icons {
  display: flex;
  gap: 3.2rem;
  justify-self: center;
}

.footer-icons a:link,
.footer-icons a:visited {
  font-size: 4.8rem;
  color: #d3d3d4;
  transition: all 0.3s;
}

.footer-icons a:hover,
.footer-icons a:active {
  color: #f03e3e;
}
